*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
header,footer{
    background-color: aqua;
    color: rgb(247, 247, 247);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.logo{
    position: relative;
    left: 30px;
}
main{
    flex: auto;
    padding: 20px 10px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a, .up{
    padding: 5px 15px;
    border: solid 2px  rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 3px;


}
nav a:hover,.up:hover{
    background-color: cadetblue;
    color: aquamarine;
}
.logo{
    color: cornflowerblue;

}

.block{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.homework_list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  


}

.homework_list a {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 3px;
   width: 300px;
   padding:  10px 0;
   background-color: cornflowerblue;
   color: aquamarine;
   
}

.homework_list a:hover {
    background-color: cadetblue;
}
.hhh{
    color: cornflowerblue;
    margin-bottom: 15px;
    font-size: 30px;
}
h3{
    color: cornflowerblue;
}
.block1{
    margin-top: 20px;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.siz{
    font-size: 30px;
}
.bt{
    position: relative;
    margin-left: 5px;
}
p{
    margin-top: 20px;
}
h1{
    margin-top: 10px;
}
h2{
    margin-top: 10px;
}
h3{
    margin-top: 10px;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
img{
    width: 500px;
    height: 326px;
}